*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#navbar {
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);   
    color: white;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
}

#navbar .navbar-container{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}


#navbar .navbar-container ul {
    display: flex;
    list-style: none;
    gap: 72px;
}


#navbar .navbar-container ul li {
    padding: 0 20px;
    list-style: none;
}

#navbar .navbar-container ul li a {
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    transition: 0.5s ease;
}

#navbar .navbar-container ul:hover li a{
    color: #225668;
    cursor: pointer;
}

#navbar .navbar-container ul:hover li a:not(:hover){
    color: white;
    opacity: 0.3;
    filter: blur(1px);
}

#navbar .navbar-container ul li:nth-child(4){
    border-right: 1px solid white;
}
